include /mixins/invalid-feedback

mixin number-input(name,readonly=false, value="")
	.form-floating
		input.form-control(
			id=`${name}-input`,
			type="number",
			value= old[name] || value,
			name=name,
			min=1,
			class= (errors && errors[name]) && "is-invalid"
			placeholder=attributes.placeholder
		)&attributes(attributes)
		label.form-label(for=`${attributes.name}-input`)
			block
		+invalid-feedback(name)
